.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(108, 7, 7);
    color: rgb(188, 188, 188);
    text-decoration: none;
  }

  .bookingForm{
      align-self: center;
      text-align: center;
  }
  .btn{
    background-color: rgb(108, 7, 7);
  }
  